body {
    font-size: 30px;
    line-height: 1.4;
    background-color: #6A6B6E;
}

body img {
    width: 100%;
}

div.spacer {
    height: 50px;
}

div.big-button {
    color: #000;
    background: yellow;
    font-size: 196px;
    text-align: center;
    border-radius: 15px;
    text-shadow: 5px 5px 10px #666;
}
