#entry-light { left: 462px; top: 334px; width: 100px; height: 100px; }
#absent-minded { left: 0px; top: 0px; width: 240px; height: 56px; }
#accommodating { left: 0px; top: 64px; width: 240px; height: 56px; }
#accurate { left: 0px; top: 128px; width: 240px; height: 56px; }
#agitated { left: 0px; top: 192px; width: 240px; height: 56px; }
#agreeable { left: 0px; top: 256px; width: 240px; height: 56px; }
#aloof { left: 0px; top: 320px; width: 240px; height: 56px; }
#altruistic { left: 0px; top: 384px; width: 240px; height: 56px; }
#anti-intellectual { left: 0px; top: 448px; width: 240px; height: 56px; }
#antisocial { left: 0px; top: 512px; width: 240px; height: 56px; }
#anxious { left: 0px; top: 576px; width: 240px; height: 56px; }
#argumentative { left: 0px; top: 640px; width: 240px; height: 56px; }
#ashamed { left: 0px; top: 704px; width: 240px; height: 56px; }
#assertive { left: 256px; top: 0px; width: 240px; height: 56px; }
#blunt { left: 256px; top: 64px; width: 240px; height: 56px; }
#brassy { left: 256px; top: 128px; width: 240px; height: 56px; }
#callous { left: 256px; top: 192px; width: 240px; height: 56px; }
#calm { left: 256px; top: 256px; width: 240px; height: 56px; }
#carefree { left: 256px; top: 320px; width: 240px; height: 56px; }
#careless { left: 256px; top: 384px; width: 240px; height: 56px; }
#chaotic { left: 256px; top: 448px; width: 240px; height: 56px; }
#cheerful { left: 256px; top: 512px; width: 240px; height: 56px; }
#civic-minded { left: 256px; top: 576px; width: 240px; height: 56px; }
#civil { left: 256px; top: 640px; width: 240px; height: 56px; }
#clever { left: 256px; top: 704px; width: 240px; height: 56px; }
#closed-minded { left: 512px; top: 0px; width: 240px; height: 56px; }
#cocky { left: 512px; top: 64px; width: 240px; height: 56px; }
#cold { left: 512px; top: 128px; width: 240px; height: 56px; }
#collected { left: 512px; top: 192px; width: 240px; height: 56px; }
#compassionate { left: 512px; top: 256px; width: 240px; height: 56px; }
#competent { left: 512px; top: 320px; width: 240px; height: 56px; }
#composed { left: 512px; top: 384px; width: 240px; height: 56px; }
#confident { left: 512px; top: 448px; width: 240px; height: 56px; }
#conforming { left: 512px; top: 512px; width: 240px; height: 56px; }
#conscientious { left: 512px; top: 576px; width: 240px; height: 56px; }
#conservative { left: 512px; top: 640px; width: 240px; height: 56px; }
#considerate { left: 512px; top: 704px; width: 240px; height: 56px; }
#controls_emotions { left: 768px; top: 0px; width: 240px; height: 56px; }
#conventional { left: 768px; top: 64px; width: 240px; height: 56px; }
#cool-headed { left: 768px; top: 128px; width: 240px; height: 56px; }
#cooperative { left: 768px; top: 192px; width: 240px; height: 56px; }
#creative { left: 768px; top: 256px; width: 240px; height: 56px; }
#cynical { left: 768px; top: 320px; width: 240px; height: 56px; }
#daydreamer { left: 768px; top: 384px; width: 240px; height: 56px; }
#defiant { left: 768px; top: 448px; width: 240px; height: 56px; }
#depressive { left: 768px; top: 512px; width: 240px; height: 56px; }
#detail_oriented { left: 768px; top: 576px; width: 240px; height: 56px; }
#dirty { left: 768px; top: 640px; width: 240px; height: 56px; }
#disagreeable { left: 768px; top: 704px; width: 240px; height: 56px; }
#disciplined { left: 0px; top: 0px; width: 240px; height: 56px; }
#disenchanted { left: 0px; top: 64px; width: 240px; height: 56px; }
#disheveled { left: 0px; top: 128px; width: 240px; height: 56px; }
#distant { left: 0px; top: 192px; width: 240px; height: 56px; }
#distracted { left: 0px; top: 256px; width: 240px; height: 56px; }
#do-gooder { left: 0px; top: 320px; width: 240px; height: 56px; }
#dogmatic { left: 0px; top: 384px; width: 240px; height: 56px; }
#dominant { left: 0px; top: 448px; width: 240px; height: 56px; }
#driven { left: 0px; top: 512px; width: 240px; height: 56px; }
#dutiful { left: 0px; top: 576px; width: 240px; height: 56px; }
#efficient { left: 0px; top: 640px; width: 240px; height: 56px; }
#emotional { left: 0px; top: 704px; width: 240px; height: 56px; }
#empathetic { left: 256px; top: 0px; width: 240px; height: 56px; }
#enthusiastic { left: 256px; top: 64px; width: 240px; height: 56px; }
#erratic { left: 256px; top: 128px; width: 240px; height: 56px; }
#exit { left: 256px; top: 192px; width: 240px; height: 56px; }
#friendly { left: 256px; top: 256px; width: 240px; height: 56px; }
#fun-loving { left: 256px; top: 320px; width: 240px; height: 56px; }
#generous { left: 256px; top: 384px; width: 240px; height: 56px; }
#gracious { left: 256px; top: 448px; width: 240px; height: 56px; }
#gruff { left: 256px; top: 512px; width: 240px; height: 56px; }
#guarded { left: 256px; top: 576px; width: 240px; height: 56px; }
#haphazard { left: 256px; top: 640px; width: 240px; height: 56px; }
#happy { left: 256px; top: 704px; width: 240px; height: 56px; }
#hard-nosed { left: 512px; top: 0px; width: 240px; height: 56px; }
#hardened { left: 512px; top: 64px; width: 240px; height: 56px; }
#hasty { left: 512px; top: 128px; width: 240px; height: 56px; }
#headstrong { left: 512px; top: 192px; width: 240px; height: 56px; }
#helpful { left: 512px; top: 256px; width: 240px; height: 56px; }
#hopeful { left: 512px; top: 320px; width: 240px; height: 56px; }
#hostile { left: 512px; top: 384px; width: 240px; height: 56px; }
#hot-tempered { left: 512px; top: 448px; width: 240px; height: 56px; }
#imaginative { left: 512px; top: 512px; width: 240px; height: 56px; }
#imposing { left: 512px; top: 576px; width: 240px; height: 56px; }
#impromptu { left: 512px; top: 640px; width: 240px; height: 56px; }
#impulsive { left: 512px; top: 704px; width: 240px; height: 56px; }
#inconsiderate { left: 768px; top: 0px; width: 240px; height: 56px; }
#inconspicuous { left: 768px; top: 64px; width: 240px; height: 56px; }
#indifferent { left: 768px; top: 128px; width: 240px; height: 56px; }
#indulgent { left: 768px; top: 192px; width: 240px; height: 56px; }
#industrious { left: 768px; top: 256px; width: 240px; height: 56px; }
#inflexible { left: 768px; top: 320px; width: 240px; height: 56px; }
#ingenious { left: 768px; top: 384px; width: 240px; height: 56px; }
#innovative { left: 768px; top: 448px; width: 240px; height: 56px; }
#institutional { left: 768px; top: 512px; width: 240px; height: 56px; }
#insulting { left: 768px; top: 576px; width: 240px; height: 56px; }
#intellectual { left: 768px; top: 640px; width: 240px; height: 56px; }
#introspective { left: 768px; top: 704px; width: 240px; height: 56px; }
#irritable { left: 0px; top: 0px; width: 240px; height: 56px; }
#kind-hearted { left: 0px; top: 64px; width: 240px; height: 56px; }
#lackadaisical { left: 0px; top: 128px; width: 240px; height: 56px; }
#law_abiding { left: 0px; top: 192px; width: 240px; height: 56px; }
#lax { left: 0px; top: 256px; width: 240px; height: 56px; }
#liberal { left: 0px; top: 320px; width: 240px; height: 56px; }
#mannerly { left: 0px; top: 384px; width: 240px; height: 56px; }
#meek { left: 0px; top: 448px; width: 240px; height: 56px; }
#methodical { left: 0px; top: 512px; width: 240px; height: 56px; }
#mindless { left: 0px; top: 576px; width: 240px; height: 56px; }
#misanthropic { left: 0px; top: 640px; width: 240px; height: 56px; }
#modest { left: 0px; top: 704px; width: 240px; height: 56px; }
#moody { left: 256px; top: 0px; width: 240px; height: 56px; }
#mousy { left: 256px; top: 64px; width: 240px; height: 56px; }
#musical { left: 256px; top: 128px; width: 240px; height: 56px; }
#narrow-minded { left: 256px; top: 192px; width: 240px; height: 56px; }
#nature_lover { left: 256px; top: 256px; width: 240px; height: 56px; }
#neurotic { left: 256px; top: 320px; width: 240px; height: 56px; }
#nurturing { left: 256px; top: 384px; width: 240px; height: 56px; }
#open { left: 256px; top: 448px; width: 240px; height: 56px; }
#open-minded { left: 256px; top: 512px; width: 240px; height: 56px; }
#optimistic { left: 256px; top: 576px; width: 240px; height: 56px; }
#orderly { left: 256px; top: 640px; width: 240px; height: 56px; }
#organized { left: 256px; top: 704px; width: 240px; height: 56px; }
#orthodox { left: 512px; top: 0px; width: 240px; height: 56px; }
#outgoing { left: 512px; top: 64px; width: 240px; height: 56px; }
#overwhelmed { left: 512px; top: 128px; width: 240px; height: 56px; }
#passive-aggressive { left: 512px; top: 192px; width: 240px; height: 56px; }
#perfectionist { left: 512px; top: 256px; width: 240px; height: 56px; }
#persuasive { left: 512px; top: 320px; width: 240px; height: 56px; }
#polite { left: 512px; top: 384px; width: 240px; height: 56px; }
#practical { left: 512px; top: 448px; width: 240px; height: 56px; }
#pragmatic { left: 512px; top: 512px; width: 240px; height: 56px; }
#proud { left: 512px; top: 576px; width: 240px; height: 56px; }
#purposeful { left: 512px; top: 640px; width: 240px; height: 56px; }
#quick_thinker { left: 512px; top: 704px; width: 240px; height: 56px; }
#quiet { left: 768px; top: 0px; width: 240px; height: 56px; }
#rash { left: 768px; top: 64px; width: 240px; height: 56px; }
#rational { left: 768px; top: 128px; width: 240px; height: 56px; }
#receptive { left: 768px; top: 192px; width: 240px; height: 56px; }
#relaxed { left: 768px; top: 256px; width: 240px; height: 56px; }
#relentless { left: 768px; top: 320px; width: 240px; height: 56px; }
#resilient { left: 768px; top: 384px; width: 240px; height: 56px; }
#restrained { left: 768px; top: 448px; width: 240px; height: 56px; }
#rigid { left: 768px; top: 512px; width: 240px; height: 56px; }
#rude { left: 768px; top: 576px; width: 240px; height: 56px; }
#sassy { left: 768px; top: 640px; width: 240px; height: 56px; }
#scatter-brained { left: 768px; top: 704px; width: 240px; height: 56px; }
#scruffy { left: 0px; top: 0px; width: 240px; height: 56px; }
#self-assured { left: 0px; top: 64px; width: 240px; height: 56px; }
#self-conscious { left: 0px; top: 128px; width: 240px; height: 56px; }
#self-contained { left: 0px; top: 192px; width: 240px; height: 56px; }
#self-controlled { left: 0px; top: 256px; width: 240px; height: 56px; }
#self-involved { left: 0px; top: 320px; width: 240px; height: 56px; }
#self-reflective { left: 0px; top: 384px; width: 240px; height: 56px; }
#serene { left: 0px; top: 448px; width: 240px; height: 56px; }
#sexual { left: 0px; top: 512px; width: 240px; height: 56px; }
#short-sighted { left: 0px; top: 576px; width: 240px; height: 56px; }
#shy { left: 0px; top: 640px; width: 240px; height: 56px; }
#sloppy { left: 0px; top: 704px; width: 240px; height: 56px; }
#sorrowful { left: 256px; top: 0px; width: 240px; height: 56px; }
#spirited { left: 256px; top: 64px; width: 240px; height: 56px; }
#spontaneous { left: 256px; top: 128px; width: 240px; height: 56px; }
#stable { left: 256px; top: 192px; width: 240px; height: 56px; }
#staunch { left: 256px; top: 256px; width: 240px; height: 56px; }
#stodgy { left: 256px; top: 320px; width: 240px; height: 56px; }
#straightforward { left: 256px; top: 384px; width: 240px; height: 56px; }
#structured { left: 256px; top: 448px; width: 240px; height: 56px; }
#stubborn { left: 256px; top: 512px; width: 240px; height: 56px; }
#submissive { left: 256px; top: 576px; width: 240px; height: 56px; }
#suspicious { left: 256px; top: 640px; width: 240px; height: 56px; }
#systematic { left: 256px; top: 704px; width: 240px; height: 56px; }
#tactless { left: 512px; top: 0px; width: 240px; height: 56px; }
#takes_charge { left: 512px; top: 64px; width: 240px; height: 56px; }
#talkative { left: 512px; top: 128px; width: 240px; height: 56px; }
#tender { left: 512px; top: 192px; width: 240px; height: 56px; }
#tidy { left: 512px; top: 256px; width: 240px; height: 56px; }
#timid { left: 512px; top: 320px; width: 240px; height: 56px; }
#tough { left: 512px; top: 384px; width: 240px; height: 56px; }
#traditional { left: 512px; top: 448px; width: 240px; height: 56px; }
#trusting { left: 512px; top: 512px; width: 240px; height: 56px; }
#uncharitable { left: 512px; top: 576px; width: 240px; height: 56px; }
#unenthusiastic { left: 512px; top: 640px; width: 240px; height: 56px; }
#unforgiving { left: 512px; top: 704px; width: 240px; height: 56px; }
#unprepared { left: 768px; top: 0px; width: 240px; height: 56px; }
#unstable { left: 768px; top: 64px; width: 240px; height: 56px; }
#utilitarian { left: 768px; top: 128px; width: 240px; height: 56px; }
#vivacious { left: 768px; top: 192px; width: 240px; height: 56px; }
#volatile { left: 768px; top: 256px; width: 240px; height: 56px; }
#vulnerable { left: 768px; top: 320px; width: 240px; height: 56px; }
#warm { left: 768px; top: 384px; width: 240px; height: 56px; }
#well-groomed { left: 768px; top: 448px; width: 240px; height: 56px; }
#withdrawn { left: 768px; top: 512px; width: 240px; height: 56px; }
#witty { left: 768px; top: 576px; width: 240px; height: 56px; }
#worrisome { left: 768px; top: 640px; width: 240px; height: 56px; }
#zesty { left: 768px; top: 704px; width: 240px; height: 56px; }
