#entry-light { left: 462px; top: 334px; width: 260px; height: 100px; }
#controls_emotions { left: 0px; top: 0px; width: 140px; height: 50px; }
#conventional { left: 0px; top: 50px; width: 180px; height: 100px; }
#cool-headed { left: 10px; top: 150px; width: 170px; height: 100px; }
#cooperative { left: 20px; top: 250px; width: 160px; height: 100px; }
#creative { left: 30px; top: 350px; width: 150px; height: 90px; }
#cynical { left: 40px; top: 440px; width: 140px; height: 80px; }
#daydreamer { left: 50px; top: 520px; width: 180px; height: 80px; }
#defiant { left: 60px; top: 600px; width: 170px; height: 80px; }
#depressive { left: 70px; top: 680px; width: 160px; height: 80px; }
#detail_oriented { left: 80px; top: 760px; width: 150px; height: 80px; }
#dirty { left: 90px; top: 840px; width: 140px; height: 80px; }
#disagreeable { left: 100px; top: 920px; width: 130px; height: 80px; }
#closed-minded { left: 140px; top: 0px; width: 180px; height: 90px; }
#cocky { left: 180px; top: 90px; width: 140px; height: 90px; }
#cold { left: 180px; top: 180px; width: 140px; height: 90px; }
#collected { left: 180px; top: 270px; width: 140px; height: 100px; }
#compassionate { left: 180px; top: 370px; width: 140px; height: 100px; }
#competent { left: 180px; top: 470px; width: 190px; height: 100px; }
#composed { left: 230px; top: 570px; width: 140px; height: 90px; }
#confident { left: 230px; top: 660px; width: 140px; height: 80px; }
#conforming { left: 230px; top: 740px; width: 140px; height: 80px; }
#conscientious { left: 230px; top: 820px; width: 140px; height: 80px; }
#conservative { left: 230px; top: 900px; width: 140px; height: 80px; }
#considerate { left: 230px; top: 980px; width: 140px; height: 80px; }
#assertive { left: 320px; top: 0px; width: 210px; height: 100px; }
#blunt { left: 320px; top: 100px; width: 210px; height: 100px; }
#brassy { left: 320px; top: 200px; width: 210px; height: 110px; }
#callous { left: 320px; top: 310px; width: 210px; height: 110px; }
#calm { left: 320px; top: 420px; width: 210px; height: 110px; }
#carefree { left: 370px; top: 530px; width: 160px; height: 100px; }
#careless { left: 370px; top: 630px; width: 160px; height: 100px; }
#chaotic { left: 370px; top: 730px; width: 160px; height: 90px; }
#cheerful { left: 370px; top: 820px; width: 160px; height: 90px; }
#civic-minded { left: 370px; top: 910px; width: 160px; height: 90px; }
#civil { left: 370px; top: 1000px; width: 160px; height: 90px; }
#clever { left: 370px; top: 1090px; width: 160px; height: 90px; }
#absent-minded { left: 530px; top: 0px; width: 180px; height: 100px; }
#accommodating { left: 530px; top: 100px; width: 180px; height: 120px; }
#accurate { left: 530px; top: 220px; width: 180px; height: 130px; }
#agitated { left: 530px; top: 350px; width: 180px; height: 130px; }
#agreeable { left: 530px; top: 480px; width: 180px; height: 120px; }
#aloof { left: 530px; top: 600px; width: 180px; height: 100px; }
#altruistic { left: 530px; top: 700px; width: 180px; height: 100px; }
#anti-intellectual { left: 530px; top: 800px; width: 180px; height: 100px; }
#antisocial { left: 530px; top: 900px; width: 180px; height: 90px; }
#anxious { left: 530px; top: 990px; width: 180px; height: 90px; }
#argumentative { left: 530px; top: 1080px; width: 180px; height: 90px; }
#ashamed { left: 560px; top: 1170px; width: 150px; height: 80px; }
#inconsiderate { left: 100px; top: 70px; width: 150px; height: 80px; }
#inconspicuous { left: 110px; top: 150px; width: 140px; height: 80px; }
#indifferent { left: 120px; top: 230px; width: 130px; height: 80px; }
#indulgent { left: 130px; top: 310px; width: 120px; height: 80px; }
#industrious { left: 140px; top: 390px; width: 110px; height: 80px; }
#inflexible { left: 150px; top: 470px; width: 150px; height: 80px; }
#ingenious { left: 160px; top: 550px; width: 140px; height: 80px; }
#innovative { left: 160px; top: 630px; width: 140px; height: 80px; }
#institutional { left: 170px; top: 710px; width: 130px; height: 80px; }
#insulting { left: 180px; top: 790px; width: 120px; height: 70px; }
#intellectual { left: 190px; top: 860px; width: 110px; height: 70px; }
#introspective { left: 200px; top: 930px; width: 100px; height: 70px; }
#hard-nosed { left: 250px; top: 80px; width: 120px; height: 90px; }
#hardened { left: 250px; top: 170px; width: 120px; height: 90px; }
#hasty { left: 250px; top: 260px; width: 120px; height: 90px; }
#headstrong { left: 250px; top: 350px; width: 170px; height: 80px; }
#helpful { left: 300px; top: 430px; width: 120px; height: 90px; }
#hopeful { left: 300px; top: 520px; width: 120px; height: 80px; }
#hostile { left: 300px; top: 600px; width: 120px; height: 80px; }
#hot-tempered { left: 300px; top: 680px; width: 120px; height: 80px; }
#imaginative { left: 300px; top: 760px; width: 120px; height: 80px; }
#imposing { left: 300px; top: 840px; width: 120px; height: 80px; }
#impromptu { left: 300px; top: 920px; width: 120px; height: 70px; }
#impulsive { left: 300px; top: 990px; width: 120px; height: 80px; }
#empathetic { left: 370px; top: 100px; width: 160px; height: 100px; }
#enthusiastic { left: 370px; top: 200px; width: 160px; height: 90px; }
#erratic { left: 370px; top: 290px; width: 160px; height: 90px; }
#exit { left: 420px; top: 380px; width: 160px; height: 120px; }
#friendly { left: 420px; top: 500px; width: 160px; height: 70px; }
#fun-loving { left: 420px; top: 570px; width: 160px; height: 80px; }
#generous { left: 420px; top: 650px; width: 160px; height: 90px; }
#gracious { left: 420px; top: 740px; width: 160px; height: 90px; }
#gruff { left: 420px; top: 830px; width: 160px; height: 80px; }
#guarded { left: 420px; top: 910px; width: 160px; height: 80px; }
#haphazard { left: 420px; top: 990px; width: 160px; height: 80px; }
#happy { left: 420px; top: 1070px; width: 160px; height: 80px; }
#disciplined { left: 530px; top: 120px; width: 180px; height: 100px; }
#disenchanted { left: 530px; top: 220px; width: 180px; height: 100px; }
#disheveled { left: 530px; top: 320px; width: 180px; height: 100px; }
#distant { left: 580px; top: 420px; width: 180px; height: 100px; }
#distracted { left: 580px; top: 520px; width: 180px; height: 100px; }
#do-gooder { left: 580px; top: 620px; width: 180px; height: 90px; }
#dogmatic { left: 580px; top: 710px; width: 180px; height: 90px; }
#dominant { left: 580px; top: 800px; width: 180px; height: 90px; }
#driven { left: 580px; top: 890px; width: 180px; height: 90px; }
#dutiful { left: 580px; top: 980px; width: 180px; height: 80px; }
#efficient { left: 580px; top: 1060px; width: 180px; height: 80px; }
#emotional { left: 580px; top: 1140px; width: 100px; height: 80px; }
#quiet { left: 0px; top: 0px; width: 130px; height: 50px; }
#rash { left: 0px; top: 50px; width: 130px; height: 100px; }
#rational { left: 10px; top: 150px; width: 120px; height: 100px; }
#receptive { left: 20px; top: 250px; width: 110px; height: 100px; }
#relaxed { left: 30px; top: 350px; width: 130px; height: 90px; }
#relentless { left: 40px; top: 440px; width: 120px; height: 80px; }
#resilient { left: 50px; top: 520px; width: 160px; height: 80px; }
#restrained { left: 60px; top: 600px; width: 150px; height: 80px; }
#rigid { left: 70px; top: 680px; width: 140px; height: 80px; }
#rude { left: 80px; top: 760px; width: 130px; height: 80px; }
#sassy { left: 90px; top: 840px; width: 120px; height: 50px; }
#scatter-brained { left: 80px; top: 890px; width: 130px; height: 80px; }
#orthodox { left: 130px; top: 0px; width: 190px; height: 90px; }
#outgoing { left: 130px; top: 90px; width: 190px; height: 90px; }
#overwhelmed { left: 130px; top: 180px; width: 190px; height: 90px; }
#passive-aggressive { left: 130px; top: 270px; width: 190px; height: 100px; }
#perfectionist { left: 160px; top: 370px; width: 160px; height: 100px; }
#persuasive { left: 160px; top: 470px; width: 200px; height: 100px; }
#polite { left: 210px; top: 570px; width: 150px; height: 90px; }
#practical { left: 210px; top: 660px; width: 150px; height: 80px; }
#pragmatic { left: 210px; top: 740px; width: 150px; height: 80px; }
#proud { left: 210px; top: 820px; width: 150px; height: 80px; }
#purposeful { left: 210px; top: 900px; width: 150px; height: 80px; }
#quick_thinker { left: 210px; top: 980px; width: 150px; height: 80px; }
#moody { left: 320px; top: 0px; width: 210px; height: 100px; }
#mousy { left: 320px; top: 100px; width: 210px; height: 100px; }
#musical { left: 320px; top: 200px; width: 210px; height: 110px; }
#narrow-minded { left: 320px; top: 310px; width: 210px; height: 110px; }
#nature_lover { left: 320px; top: 420px; width: 210px; height: 110px; }
#neurotic { left: 360px; top: 530px; width: 170px; height: 100px; }
#nurturing { left: 360px; top: 630px; width: 170px; height: 100px; }
#open { left: 360px; top: 730px; width: 170px; height: 90px; }
#open-minded { left: 360px; top: 820px; width: 170px; height: 90px; }
#optimistic { left: 360px; top: 910px; width: 170px; height: 90px; }
#orderly { left: 360px; top: 1000px; width: 170px; height: 90px; }
#organized { left: 360px; top: 1090px; width: 170px; height: 90px; }
#irritable { left: 530px; top: 0px; width: 180px; height: 100px; }
#kind-hearted { left: 530px; top: 100px; width: 180px; height: 120px; }
#lackadaisical { left: 530px; top: 220px; width: 180px; height: 130px; }
#law_abiding { left: 530px; top: 350px; width: 180px; height: 130px; }
#lax { left: 530px; top: 480px; width: 180px; height: 120px; }
#liberal { left: 530px; top: 600px; width: 180px; height: 100px; }
#mannerly { left: 530px; top: 700px; width: 180px; height: 100px; }
#meek { left: 530px; top: 800px; width: 180px; height: 110px; }
#methodical { left: 530px; top: 910px; width: 180px; height: 110px; }
#mindless { left: 530px; top: 1020px; width: 180px; height: 103px; }
#misanthropic { left: 530px; top: 1123px; width: 180px; height: 120px; }
#modest { left: 560px; top: 1243px; width: 150px; height: 33px; }
#scruffy { left: 0px; top: 0px; width: 240px; height: 56px; }
#self-assured { left: 0px; top: 64px; width: 240px; height: 56px; }
#self-conscious { left: 0px; top: 128px; width: 240px; height: 56px; }
#self-contained { left: 0px; top: 192px; width: 240px; height: 56px; }
#self-controlled { left: 0px; top: 256px; width: 240px; height: 56px; }
#self-involved { left: 0px; top: 320px; width: 240px; height: 56px; }
#self-reflective { left: 0px; top: 384px; width: 240px; height: 56px; }
#serene { left: 0px; top: 448px; width: 240px; height: 56px; }
#sexual { left: 0px; top: 512px; width: 240px; height: 56px; }
#short-sighted { left: 0px; top: 576px; width: 240px; height: 56px; }
#shy { left: 0px; top: 640px; width: 240px; height: 56px; }
#sloppy { left: 0px; top: 704px; width: 240px; height: 56px; }
#sorrowful { left: 256px; top: 0px; width: 240px; height: 56px; }
#spirited { left: 256px; top: 64px; width: 240px; height: 56px; }
#spontaneous { left: 256px; top: 128px; width: 240px; height: 56px; }
#stable { left: 256px; top: 192px; width: 240px; height: 56px; }
#staunch { left: 256px; top: 256px; width: 240px; height: 56px; }
#stodgy { left: 256px; top: 320px; width: 240px; height: 56px; }
#straightforward { left: 256px; top: 384px; width: 240px; height: 56px; }
#structured { left: 256px; top: 448px; width: 240px; height: 56px; }
#stubborn { left: 256px; top: 512px; width: 240px; height: 56px; }
#submissive { left: 256px; top: 576px; width: 240px; height: 56px; }
#suspicious { left: 256px; top: 640px; width: 240px; height: 56px; }
#systematic { left: 256px; top: 704px; width: 240px; height: 56px; }
#tactless { left: 512px; top: 0px; width: 240px; height: 56px; }
#takes_charge { left: 512px; top: 64px; width: 240px; height: 56px; }
#talkative { left: 512px; top: 128px; width: 240px; height: 56px; }
#tender { left: 512px; top: 192px; width: 240px; height: 56px; }
#tidy { left: 512px; top: 256px; width: 240px; height: 56px; }
#timid { left: 512px; top: 320px; width: 240px; height: 56px; }
#tough { left: 512px; top: 384px; width: 240px; height: 56px; }
#traditional { left: 512px; top: 448px; width: 240px; height: 56px; }
#trusting { left: 512px; top: 512px; width: 240px; height: 56px; }
#uncharitable { left: 512px; top: 576px; width: 240px; height: 56px; }
#unenthusiastic { left: 512px; top: 640px; width: 240px; height: 56px; }
#unforgiving { left: 512px; top: 704px; width: 240px; height: 56px; }
#unprepared { left: 768px; top: 0px; width: 240px; height: 56px; }
#unstable { left: 768px; top: 64px; width: 240px; height: 56px; }
#utilitarian { left: 768px; top: 128px; width: 240px; height: 56px; }
#vivacious { left: 768px; top: 192px; width: 240px; height: 56px; }
#volatile { left: 768px; top: 256px; width: 240px; height: 56px; }
#vulnerable { left: 768px; top: 320px; width: 240px; height: 56px; }
#warm { left: 768px; top: 384px; width: 240px; height: 56px; }
#well-groomed { left: 768px; top: 448px; width: 240px; height: 56px; }
#withdrawn { left: 768px; top: 512px; width: 240px; height: 56px; }
#witty { left: 768px; top: 576px; width: 240px; height: 56px; }
#worrisome { left: 768px; top: 640px; width: 240px; height: 56px; }
#zesty { left: 768px; top: 704px; width: 240px; height: 56px; }
