extends layout

block stylesheets
  link(rel="stylesheet", href="/css/black.css")
  link(rel="stylesheet", href="/css/words.css")

block content
  #spotlight-boxes.debug
    #foo.spotlight foo
    #bar.spotlight bar
    #baz.spotlight baz

block scripts
  script(src="/js/black.js")
