extends black

block words
  #irritable.spotlight irritable
  #kind-hearted.spotlight kind-hearted
  #lackadaisical.spotlight lackadaisical
  #law_abiding.spotlight law_abiding
  #lax.spotlight lax
  #liberal.spotlight liberal
  #mannerly.spotlight mannerly
  #meek.spotlight meek
  #methodical.spotlight methodical
  #mindless.spotlight mindless
  #misanthropic.spotlight misanthropic
  #modest.spotlight modest
  #moody.spotlight moody
  #mousy.spotlight mousy
  #musical.spotlight musical
  #narrow-minded.spotlight narrow-minded
  #nature_lover.spotlight nature_lover
  #neurotic.spotlight neurotic
  #nurturing.spotlight nurturing
  #open.spotlight open
  #open-minded.spotlight open-minded
  #optimistic.spotlight optimistic
  #orderly.spotlight orderly
  #organized.spotlight organized
  #orthodox.spotlight orthodox
  #outgoing.spotlight outgoing
  #overwhelmed.spotlight overwhelmed
  #passive-aggressive.spotlight passive-aggressive
  #perfectionist.spotlight perfectionist
  #persuasive.spotlight persuasive
  #polite.spotlight polite
  #practical.spotlight practical
  #pragmatic.spotlight pragmatic
  #proud.spotlight proud
  #purposeful.spotlight purposeful
  #quick_thinker.spotlight quick_thinker
  #quiet.spotlight quiet
  #rash.spotlight rash
  #rational.spotlight rational
  #receptive.spotlight receptive
  #relaxed.spotlight relaxed
  #relentless.spotlight relentless
  #resilient.spotlight resilient
  #restrained.spotlight restrained
  #rigid.spotlight rigid
  #rude.spotlight rude
  #sassy.spotlight sassy
  #scatter-brained.spotlight scatter-brained
