extends black

block words
  #absent-minded.spotlight absent-minded
  #accommodating.spotlight accommodating
  #accurate.spotlight accurate
  #agitated.spotlight agitated
  #agreeable.spotlight agreeable
  #aloof.spotlight aloof
  #altruistic.spotlight altruistic
  #anti-intellectual.spotlight anti-intellectual
  #antisocial.spotlight antisocial
  #anxious.spotlight anxious
  #argumentative.spotlight argumentative
  #ashamed.spotlight ashamed
  #assertive.spotlight assertive
  #blunt.spotlight blunt
  #brassy.spotlight brassy
  #callous.spotlight callous
  #calm.spotlight calm
  #carefree.spotlight carefree
  #careless.spotlight careless
  #chaotic.spotlight chaotic
  #cheerful.spotlight cheerful
  #civic-minded.spotlight civic-minded
  #civil.spotlight civil
  #clever.spotlight clever
  #closed-minded.spotlight closed-minded
  #cocky.spotlight cocky
  #cold.spotlight cold
  #collected.spotlight collected
  #compassionate.spotlight compassionate
  #competent.spotlight competent
  #composed.spotlight composed
  #confident.spotlight confident
  #conforming.spotlight conforming
  #conscientious.spotlight conscientious
  #conservative.spotlight conservative
  #considerate.spotlight considerate
  #controls_emotions.spotlight controls_emotions
  #conventional.spotlight conventional
  #cool-headed.spotlight cool-headed
  #cooperative.spotlight cooperative
  #creative.spotlight creative
  #cynical.spotlight cynical
  #daydreamer.spotlight daydreamer
  #defiant.spotlight defiant
  #depressive.spotlight depressive
  #detail_oriented.spotlight detail_oriented
  #dirty.spotlight dirty
  #disagreeable.spotlight disagreeable
