extends black

block words
  #disciplined.spotlight disciplined
  #disenchanted.spotlight disenchanted
  #disheveled.spotlight disheveled
  #distant.spotlight distant
  #distracted.spotlight distracted
  #do-gooder.spotlight do-gooder
  #dogmatic.spotlight dogmatic
  #dominant.spotlight dominant
  #driven.spotlight driven
  #dutiful.spotlight dutiful
  #efficient.spotlight efficient
  #emotional.spotlight emotional
  #empathetic.spotlight empathetic
  #enthusiastic.spotlight enthusiastic
  #erratic.spotlight erratic
  #exit.spotlight exit
  #friendly.spotlight friendly
  #fun-loving.spotlight fun-loving
  #generous.spotlight generous
  #gracious.spotlight gracious
  #gruff.spotlight gruff
  #guarded.spotlight guarded
  #haphazard.spotlight haphazard
  #happy.spotlight happy
  #hard-nosed.spotlight hard-nosed
  #hardened.spotlight hardened
  #hasty.spotlight hasty
  #headstrong.spotlight headstrong
  #helpful.spotlight helpful
  #hopeful.spotlight hopeful
  #hostile.spotlight hostile
  #hot-tempered.spotlight hot-tempered
  #imaginative.spotlight imaginative
  #imposing.spotlight imposing
  #impromptu.spotlight impromptu
  #impulsive.spotlight impulsive
  #inconsiderate.spotlight inconsiderate
  #inconspicuous.spotlight inconspicuous
  #indifferent.spotlight indifferent
  #indulgent.spotlight indulgent
  #industrious.spotlight industrious
  #inflexible.spotlight inflexible
  #ingenious.spotlight ingenious
  #innovative.spotlight innovative
  #institutional.spotlight institutional
  #insulting.spotlight insulting
  #intellectual.spotlight intellectual
  #introspective.spotlight introspective
