extends layout

block stylesheets
  link(rel="stylesheet", href="/css/black.css")
  link(rel="stylesheet", href="/css/words.css")

block content
  #spotlight-boxes.debug
    #foo.spotlight foo
    #bar.spotlight bar
    #baz.spotlight baz

block scripts
  script(src="/js/black.js")
  script
    var socket = io.connect('http://192.168.0.5:5500');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });
