extends black

block words
  #scruffy.spotlight scruffy
  #self-assured.spotlight self-assured
  #self-conscious.spotlight self-conscious
  #self-contained.spotlight self-contained
  #self-controlled.spotlight self-controlled
  #self-involved.spotlight self-involved
  #self-reflective.spotlight self-reflective
  #serene.spotlight serene
  #sexual.spotlight sexual
  #short-sighted.spotlight short-sighted
  #shy.spotlight shy
  #sloppy.spotlight sloppy
  #sorrowful.spotlight sorrowful
  #spirited.spotlight spirited
  #spontaneous.spotlight spontaneous
  #stable.spotlight stable
  #staunch.spotlight staunch
  #stodgy.spotlight stodgy
  #straightforward.spotlight straightforward
  #structured.spotlight structured
  #stubborn.spotlight stubborn
  #submissive.spotlight submissive
  #suspicious.spotlight suspicious
  #systematic.spotlight systematic
  #tactless.spotlight tactless
  #takes_charge.spotlight takes_charge
  #talkative.spotlight talkative
  #tender.spotlight tender
  #tidy.spotlight tidy
  #timid.spotlight timid
  #tough.spotlight tough
  #traditional.spotlight traditional
  #trusting.spotlight trusting
  #uncharitable.spotlight uncharitable
  #unenthusiastic.spotlight unenthusiastic
  #unforgiving.spotlight unforgiving
  #unprepared.spotlight unprepared
  #unstable.spotlight unstable
  #utilitarian.spotlight utilitarian
  #vivacious.spotlight vivacious
  #volatile.spotlight volatile
  #vulnerable.spotlight vulnerable
  #warm.spotlight warm
  #well-groomed.spotlight well-groomed
  #withdrawn.spotlight withdrawn
  #witty.spotlight witty
  #worrisome.spotlight worrisome
  #zesty.spotlight zesty
