extends layout

block stylesheets
  link(rel='stylesheet', href='/css/intake.css')

block content
  div#top
  form.form-inline(ng-controller="EntryCtrl", ng-submit="submitName()")

    .row-fluid.page(ng-show="!status.started")
      .span6.offset3
        .big-button
          .title enter
          .fineprint Profile Cube is ready. Submit the name from your survey then enter the door:
          div(style="margin-bottom:.5em")
          input#name-input.huge(type='text', ng-model='entry.name', placeholder='first name')
          input.btn.btn-large(type='submit', style='margin-top:-10px;', value='go')
          div(style="width:50%; margin-bottom:0.25em;")
          .fineprint(ng-show="status.badname") We could not find that name. Is it the same one you entered in your survey?

    .row-fluid.page(ng-show="status.started")
      .span6.offset3
        .big-button(style="background:red")
          .title in use
          .fineprint Profile cube is in use. Please wait.


block scripts
  script(src="js/entry.js")
