extends layout

block stylesheets
  link(rel='stylesheet', href='/css/intake.css')

block content
  form.form-inline(ng-controller="IntakeCtrl", ng-submit='submitSurvey()')

    .row-fluid.page
      .span6.offset3
        .big-button(ng-click="scrollTo('page_thanks')")
          .title start

    .row-fluid.page#page_thanks
      .span6.offset3
        .big-button(ng-click="scrollTo('page_name')")
          .text thank you
          .fineprint for agreeing to our terms of use

    .row-fluid.page#page_name
      .span6.offset3
        .big-button
          .fineprint what is your first name?
          input(type='text', ng-model='survey.name', placeholder='Enter a name here')
          input.btn(type='button', value='next question', ng-click="scrollTo('page_colors')")

    .header#page_colors FOO: {{survey}}
    .row-fluid.page
      .span4
        input.label-only#page_colors_red(type='radio', ng-model='survey.color', value='red')
        label.sixth-button(for="page_colors_red", style="background:rgb(209,33,41)")
        input.label-only#page_colors_orange(type='radio', ng-model='survey.color', value='orange')
        label.sixth-button(for="page_colors_orange", style="background:rgb(247,147,52)")
      .span4
        input.label-only#page_colors_pink(type='radio', ng-model='survey.color', value='pink')
        label.sixth-button(for="page_colors_pink", style="background:rgb(246,175,206)")
        input.label-only#page_colors_brown(type='radio', ng-model='survey.color', value='brown')
        label.sixth-button(for="page_colors_brown", style="background:rgb(162,77,36)")
      .span4
        input.label-only#page_colors_yellow(type='radio', ng-model='survey.color', value='yellow')
        label.sixth-button(for="page_colors_yellow", style="background:rgb(254,241,82)")
        input.label-only#page_colors_blue(type='radio', ng-model='survey.color', value='blue')
        label.sixth-button(for="page_colors_blue", style="background:rgb(2,154,199)")

    .header#page_colors_xxxxxx
    .row-fluid.page
      .span4
        .sixth-button(style="background:rgb(209,33,41)", ng-click="scrollTo('page_news')")
        .sixth-button(style="background:rgb(247,147,52)", ng-click="scrollTo('page_news')")
      .span4
        .sixth-button(style="background:rgb(246,175,206)", ng-click="scrollTo('page_news')")
        .sixth-button(style="background:rgb(162,77,36)", ng-click="scrollTo('page_news')")
      .span4
        .sixth-button(style="background:rgb(254,241,82)", ng-click="scrollTo('page_news')")
        .sixth-button(style="background:rgb(2,154,199)", ng-click="scrollTo('page_news')")

    .spacer
    .spacer

    .row-fluid.page#page_news
      .span4
        img(src='img/02_news_01.png')
      .span4
        img(src='img/02_news_02.png')
      .span4
        img(src='img/02_news_03.png')

    .row-fluid
      .span6
        img(src='img/04_catdog_01.png')
      .span6
        img(src='img/04_catdog_02.png')


block scripts
  script(src="js/intake.js")
