extends layout

block stylesheets
  link(rel='stylesheet', href='/css/intake.css')

block content
  form(ng-controller="IntakeCtrl", ng-submit='submitSurvey()')
    .spacer
    .spacer

    .row-fluid
      .span6.offset3
        div.big-button(ng-click="scrollTo('foo')")
          | start

    .spacer
    .spacer

    .row-fluid#foo
      .span4
        img(src='img/02_news_01.png')
      .span4
        img(src='img/02_news_02.png')
      .span4
        img(src='img/02_news_03.png')

    .row-fluid
      .span6
        img(src='img/04_catdog_01.png')
      .span6
        img(src='img/04_catdog_02.png')


block scripts
  script(src="js/intake.js")
