extends layout

block stylesheets
  link(rel='stylesheet', href='/css/intake.css')

block content
  form.form-inline(ng-controller="IntakeCtrl", ng-submit='submitSurvey()')

    .row-fluid.page
      .span6.offset3
        .big-button(ng-click="scrollTo('page_thanks')")
          .title start

    .row-fluid.page#page_thanks
      .span6.offset3
        .big-button(ng-click="scrollTo('page_name')")
          .text thank you
          .fineprint for agreeing to our terms of use

    .row-fluid.page#page_name
      .span6.offset3
        .big-button
          .fineprint what is your first name?
          input(type='text', ng-model='survey.name', placeholder='Enter a name here')
          input.btn(type='button', value='next question', ng-click="scrollTo('page_01')")

    .header#page_01 FOO: {{survey}}
    .row-fluid.page
      .span4
        input.label-only#page_01_01(type='radio', ng-model='survey.01', value='1')
        label.sixth-button(for="page_01_01", style="background:rgb(209,33,41)", ng-click="scrollTo('page_02')")
        input.label-only#page_01_04(type='radio', ng-model='survey.01', value='4')
        label.sixth-button(for="page_01_04", style="background:rgb(247,147,52)", ng-click="scrollTo('page_02')")
      .span4
        input.label-only#page_01_02(type='radio', ng-model='survey.01', value='2')
        label.sixth-button(for="page_01_02", style="background:rgb(246,175,206)", ng-click="scrollTo('page_02')")
        input.label-only#page_01_05(type='radio', ng-model='survey.01', value='5')
        label.sixth-button(for="page_01_05", style="background:rgb(162,77,36)", ng-click="scrollTo('page_02')")
      .span4
        input.label-only#page_01_03(type='radio', ng-model='survey.01', value='3')
        label.sixth-button(for="page_01_03", style="background:rgb(254,241,82)", ng-click="scrollTo('page_02')")
        input.label-only#page_01_06(type='radio', ng-model='survey.01', value='6')
        label.sixth-button(for="page_01_06", style="background:rgb(2,154,199)", ng-click="scrollTo('page_02')")

    .header#page_02 FOO: {{survey}}
    .row-fluid.page
      .span4
        input.label-only#page_02_01(type='radio', ng-model='survey.02', value='1')
        label.sixth-button(for="page_02_01", ng-click="scrollTo('page_03')")
          img(src='img/02_01.png')
        input.label-only#page_02_04(type='radio', ng-model='survey.02', value='4')
        label.sixth-button(for="page_02_04", ng-click="scrollTo('page_03')")
          img(src='img/02_04.png')
      .span4
        input.label-only#page_02_02(type='radio', ng-model='survey.02', value='2')
        label.sixth-button(for="page_02_02", ng-click="scrollTo('page_03')")
          img(src='img/02_02.png')
        input.label-only#page_02_05(type='radio', ng-model='survey.02', value='5')
        label.sixth-button(for="page_02_05", ng-click="scrollTo('page_03')")
          img(src='img/02_05.png')
      .span4
        input.label-only#page_02_03(type='radio', ng-model='survey.02', value='3')
        label.sixth-button(for="page_02_03", ng-click="scrollTo('page_03')")
          img(src='img/02_03.png')
        input.label-only#page_02_06(type='radio', ng-model='survey.02', value='6')
        label.sixth-button(for="page_02_06", ng-click="scrollTo('page_03')")
          img(src='img/02_06.png')

    .header#page_03 FOO: {{survey}}
    .row-fluid.page
      .span6
        input.label-only#page_03_01(type='radio', ng-model='survey.03', value='1')
        label.sixth-button(for="page_03_01")
          img(src='img/03_01.png')
      .span6
        input.label-only#page_03_02(type='radio', ng-model='survey.03', value='2')
        label.sixth-button(for="page_03_02")
          img(src='img/03_02.png')

    .header#page_04 FOO: {{survey}}
    .row-fluid.page
      .span4
        input.label-only#page_04_01(type='radio', ng-model='survey.04', value='1')
        label.sixth-button(for="page_04_01", ng-click="scrollTo('page_05')")
          img(src='img/04_01.png')
        input.label-only#page_04_04(type='radio', ng-model='survey.04', value='4')
        label.sixth-button(for="page_04_04", ng-click="scrollTo('page_05')")
          img(src='img/04_04.png')
      .span4
        input.label-only#page_04_02(type='radio', ng-model='survey.04', value='2')
        label.sixth-button(for="page_04_02", ng-click="scrollTo('page_05')")
          img(src='img/04_02.png')
        input.label-only#page_04_05(type='radio', ng-model='survey.04', value='5')
        label.sixth-button(for="page_04_05", ng-click="scrollTo('page_05')")
          img(src='img/04_05.png')
      .span4
        input.label-only#page_04_03(type='radio', ng-model='survey.04', value='3')
        label.sixth-button(for="page_04_03", ng-click="scrollTo('page_05')")
          img(src='img/04_03.png')
        input.label-only#page_04_06(type='radio', ng-model='survey.04', value='6')
        label.sixth-button(for="page_04_06", ng-click="scrollTo('page_05')")
          img(src='img/04_06.png')




block scripts
  script(src="js/intake.js")
