extends layout

block stylesheets
  link(rel='stylesheet', href='/css/intake.css')

block content
  div#top
  form.form-inline(ng-controller="IntakeCtrl", ng-submit="scrollTo('page_01')")

    .row-fluid.page
      .span6.offset3
        .big-button(ng-click="scrollTo('page_thanks')")
          .title start

    .row-fluid.page#page_thanks
      .span6.offset3
        .big-button(ng-click="scrollTo('page_name')")
          .text thank you
          div(style="margin-bottom:.5em")
          .fineprint for agreeing to our terms of use

    .row-fluid.page#page_name
      .span6.offset3
        .big-button
          .fineprint what is your first name?
          div(style="margin-bottom:.5em")
          input.huge(type='text', ng-model='survey.name', placeholder='Enter a name here')
          div(style="width:50%; margin-left:120px;")
            input.btn.btn-large.btn-block(type='button', value='next question', ng-click="scrollTo('page_01')")

    .header#page_01
    .row-fluid.page
      .span4
        input.label-only#page_01_01(type='radio', ng-model='survey.01', value='1')
        label.survey-button(for="page_01_01", ng-click="scrollTo('page_02')")
          img(src='img/01_01.png')
        input.label-only#page_01_04(type='radio', ng-model='survey.01', value='4')
        label.survey-button(for="page_01_04", ng-click="scrollTo('page_02')")
          img(src='img/01_04.png')
      .span4
        input.label-only#page_01_02(type='radio', ng-model='survey.01', value='2')
        label.survey-button(for="page_01_02", ng-click="scrollTo('page_02')")
          img(src='img/01_02.png')
        input.label-only#page_01_05(type='radio', ng-model='survey.01', value='5')
        label.survey-button(for="page_01_05", ng-click="scrollTo('page_02')")
          img(src='img/01_05.png')
      .span4
        input.label-only#page_01_03(type='radio', ng-model='survey.01', value='3')
        label.survey-button(for="page_01_03", ng-click="scrollTo('page_02')")
          img(src='img/01_03.png')
        input.label-only#page_01_06(type='radio', ng-model='survey.01', value='6')
        label.survey-button(for="page_01_06", ng-click="scrollTo('page_02')")
          img(src='img/01_06.png')

    .header#page_02
    .row-fluid.page
      .span4
        input.label-only#page_02_01(type='radio', ng-model='survey.02', value='1')
        label.survey-button(for="page_02_01", ng-click="scrollTo('page_03')")
          img(src='img/02_01.png')
        input.label-only#page_02_04(type='radio', ng-model='survey.02', value='4')
        label.survey-button(for="page_02_04", ng-click="scrollTo('page_03')")
          img(src='img/02_04.png')
      .span4
        input.label-only#page_02_02(type='radio', ng-model='survey.02', value='2')
        label.survey-button(for="page_02_02", ng-click="scrollTo('page_03')")
          img(src='img/02_02.png')
        input.label-only#page_02_05(type='radio', ng-model='survey.02', value='5')
        label.survey-button(for="page_02_05", ng-click="scrollTo('page_03')")
          img(src='img/02_05.png')
      .span4
        input.label-only#page_02_03(type='radio', ng-model='survey.02', value='3')
        label.survey-button(for="page_02_03", ng-click="scrollTo('page_03')")
          img(src='img/02_03.png')
        input.label-only#page_02_06(type='radio', ng-model='survey.02', value='6')
        label.survey-button(for="page_02_06", ng-click="scrollTo('page_03')")
          img(src='img/02_06.png')

    .header#page_03
    .row-fluid.page
      .span6
        input.label-only#page_03_01(type='radio', ng-model='survey.03', value='1')
        label.survey-button(for="page_03_01", ng-click="scrollTo('page_04')")
          img(src='img/03_01.png')
      .span6
        input.label-only#page_03_02(type='radio', ng-model='survey.03', value='2')
        label.survey-button(for="page_03_02", ng-click="scrollTo('page_04')")
          img(src='img/03_02.png')

    .header#page_04
    .row-fluid.page
      .span4
        input.label-only#page_04_01(type='radio', ng-model='survey.04', value='1')
        label.survey-button(for="page_04_01", ng-click="scrollTo('page_05')")
          img(src='img/04_01.png')
        input.label-only#page_04_04(type='radio', ng-model='survey.04', value='4')
        label.survey-button(for="page_04_04", ng-click="scrollTo('page_05')")
          img(src='img/04_04.png')
      .span4
        input.label-only#page_04_02(type='radio', ng-model='survey.04', value='2')
        label.survey-button(for="page_04_02", ng-click="scrollTo('page_05')")
          img(src='img/04_02.png')
        input.label-only#page_04_05(type='radio', ng-model='survey.04', value='5')
        label.survey-button(for="page_04_05", ng-click="scrollTo('page_05')")
          img(src='img/04_05.png')
      .span4
        input.label-only#page_04_03(type='radio', ng-model='survey.04', value='3')
        label.survey-button(for="page_04_03", ng-click="scrollTo('page_05')")
          img(src='img/04_03.png')
        input.label-only#page_04_06(type='radio', ng-model='survey.04', value='6')
        label.survey-button(for="page_04_06", ng-click="scrollTo('page_05')")
          img(src='img/04_06.png')

    .header#page_05
    .row-fluid.page
      .span4
        input.label-only#page_05_01(type='radio', ng-model='survey.05', value='1')
        label.survey-button(for="page_05_01", ng-click="scrollTo('page_06')")
          img(src='img/05_01.png')
      .span4
        input.label-only#page_05_02(type='radio', ng-model='survey.05', value='2')
        label.survey-button(for="page_05_02", ng-click="scrollTo('page_06')")
          img(src='img/05_02.png')
      .span4
        input.label-only#page_05_03(type='radio', ng-model='survey.05', value='3')
        label.survey-button(for="page_05_03", ng-click="scrollTo('page_06')")
          img(src='img/05_03.png')

    .header#page_06
    .row-fluid.page
      .span6
        input.label-only#page_06_01(type='radio', ng-model='survey.06', value='1')
        label.survey-button(for="page_06_01", ng-click="scrollTo('page_07')")
          img(src='img/06_01.png')
      .span6
        input.label-only#page_06_02(type='radio', ng-model='survey.06', value='2')
        label.survey-button(for="page_06_02", ng-click="scrollTo('page_07')")
          img(src='img/06_02.png')

    .header#page_07
    .row-fluid.page
      .span4
        input.label-only#page_07_01(type='radio', ng-model='survey.07', value='1')
        label.survey-button(for="page_07_01", ng-click="scrollTo('page_08')")
          img(src='img/07_01.png')
        input.label-only#page_07_04(type='radio', ng-model='survey.07', value='4')
        label.survey-button(for="page_07_04", ng-click="scrollTo('page_08')")
          img(src='img/07_04.png')
      .span4
        input.label-only#page_07_02(type='radio', ng-model='survey.07', value='2')
        label.survey-button(for="page_07_02", ng-click="scrollTo('page_08')")
          img(src='img/07_02.png')
        input.label-only#page_07_05(type='radio', ng-model='survey.07', value='5')
        label.survey-button(for="page_07_05", ng-click="scrollTo('page_08')")
          img(src='img/07_05.png')
      .span4
        input.label-only#page_07_03(type='radio', ng-model='survey.07', value='3')
        label.survey-button(for="page_07_03", ng-click="scrollTo('page_08')")
          img(src='img/07_03.png')
        input.label-only#page_07_06(type='radio', ng-model='survey.07', value='6')
        label.survey-button(for="page_07_06", ng-click="scrollTo('page_08')")
          img(src='img/07_06.png')

    .header#page_08
    .row-fluid.page
      .span6
        input.label-only#page_08_01(type='radio', ng-model='survey.08', value='1')
        label.survey-button(for="page_08_01", ng-click="scrollTo('page_09')")
          img(src='img/08_01.png')
        input.label-only#page_08_03(type='radio', ng-model='survey.08', value='3')
        label.survey-button(for="page_08_03", ng-click="scrollTo('page_09')")
          img(src='img/08_03.png')
        input.label-only#page_08_05(type='radio', ng-model='survey.08', value='5')
        label.survey-button(for="page_08_05", ng-click="scrollTo('page_09')")
          img(src='img/08_05.png')
      .span6
        input.label-only#page_08_02(type='radio', ng-model='survey.08', value='2')
        label.survey-button(for="page_08_02", ng-click="scrollTo('page_09')")
          img(src='img/08_02.png')
        input.label-only#page_08_04(type='radio', ng-model='survey.08', value='4')
        label.survey-button(for="page_08_04", ng-click="scrollTo('page_09')")
          img(src='img/08_04.png')
        input.label-only#page_08_06(type='radio', ng-model='survey.08', value='6')
        label.survey-button(for="page_08_06", ng-click="scrollTo('page_09')")
          img(src='img/08_06.png')

    .header#page_09
    .row-fluid.page
      .span4
        input.label-only#page_09_01(type='radio', ng-model='survey.09', value='1')
        label.survey-button(for="page_09_01", ng-click="scrollTo('page_10')")
          img(src='img/09_01.png')
        input.label-only#page_09_04(type='radio', ng-model='survey.09', value='4')
        label.survey-button(for="page_09_04", ng-click="scrollTo('page_10')")
          img(src='img/09_04.png')
      .span4
        input.label-only#page_09_02(type='radio', ng-model='survey.09', value='2')
        label.survey-button(for="page_09_02", ng-click="scrollTo('page_10')")
          img(src='img/09_02.png')
        input.label-only#page_09_05(type='radio', ng-model='survey.09', value='5')
        label.survey-button(for="page_09_05", ng-click="scrollTo('page_10')")
          img(src='img/09_05.png')
      .span4
        input.label-only#page_09_03(type='radio', ng-model='survey.09', value='3')
        label.survey-button(for="page_09_03", ng-click="scrollTo('page_10')")
          img(src='img/09_03.png')
        input.label-only#page_09_06(type='radio', ng-model='survey.09', value='6')
        label.survey-button(for="page_09_06", ng-click="scrollTo('page_10')")
          img(src='img/09_06.png')

    .header#page_10
    .row-fluid.page
      .span6
        input.label-only#page_10_01(type='radio', ng-model='survey.10', value='1')
        label.survey-button(for="page_10_01", ng-click="scrollTo('page_11')")
          img(src='img/10_01.png')
      .span6
        input.label-only#page_10_02(type='radio', ng-model='survey.10', value='2')
        label.survey-button(for="page_10_02", ng-click="scrollTo('page_11')")
          img(src='img/10_02.png')

    .header#page_11
    .row-fluid.page
      .span6.offset2
        .survey-button
          img(src='img/11_01.png')
      .span2.offset1
        div(style="margin-top:180px")
        input.label-only#page_11_01(type='radio', ng-model='survey.11', value='1')
        label.survey-button(for="page_11_01", ng-click="scrollTo('page_12')")
          img(src='img/up.png')
        input.label-only#page_11_02(type='radio', ng-model='survey.11', value='2')
        label.survey-button(for="page_11_02", ng-click="scrollTo('page_12')")
          img(src='img/down.png')

    .header#page_12
    .row-fluid.page
      .span4
        input.label-only#page_12_01(type='radio', ng-model='survey.12', value='1')
        label.survey-button(for="page_12_01", ng-click="scrollTo('page_13')")
          img(src='img/12_01.png')
      .span4
        input.label-only#page_12_02(type='radio', ng-model='survey.12', value='2')
        label.survey-button(for="page_12_02", ng-click="scrollTo('page_13')")
          img(src='img/12_02.png')
      .span4
        input.label-only#page_12_03(type='radio', ng-model='survey.12', value='3')
        label.survey-button(for="page_12_03", ng-click="scrollTo('page_13')")
          img(src='img/12_03.png')

    .header#page_13
    .row-fluid.page
      .span4
        input.label-only#page_13_01(type='radio', ng-model='survey.13', value='1')
        label.survey-button(for="page_13_01", ng-click="scrollTo('page_14')")
          img(src='img/13_01.png')
        input.label-only#page_13_04(type='radio', ng-model='survey.13', value='4')
        label.survey-button(for="page_13_04", ng-click="scrollTo('page_14')")
          img(src='img/13_04.png')
      .span4
        input.label-only#page_13_02(type='radio', ng-model='survey.13', value='2')
        label.survey-button(for="page_13_02", ng-click="scrollTo('page_14')")
          img(src='img/13_02.png')
        input.label-only#page_13_05(type='radio', ng-model='survey.13', value='5')
        label.survey-button(for="page_13_05", ng-click="scrollTo('page_14')")
          img(src='img/13_05.png')
      .span4
        input.label-only#page_13_03(type='radio', ng-model='survey.13', value='3')
        label.survey-button(for="page_13_03", ng-click="scrollTo('page_14')")
          img(src='img/13_03.png')
        input.label-only#page_13_06(type='radio', ng-model='survey.13', value='6')
        label.survey-button(for="page_13_06", ng-click="scrollTo('page_14')")
          img(src='img/13_06.png')

    .header#page_14
    .row-fluid.page
      .span4
        input.label-only#page_14_01(type='radio', ng-model='survey.14', value='1')
        label.survey-button(for="page_14_01", ng-click="scrollTo('page_15')")
          img(src='img/14_01.png')
        input.label-only#page_14_04(type='radio', ng-model='survey.14', value='4')
        label.survey-button(for="page_14_04", ng-click="scrollTo('page_15')")
          img(src='img/14_04.png')
      .span4
        input.label-only#page_14_02(type='radio', ng-model='survey.14', value='2')
        label.survey-button(for="page_14_02", ng-click="scrollTo('page_15')")
          img(src='img/14_02.png')
        input.label-only#page_14_05(type='radio', ng-model='survey.14', value='5')
        label.survey-button(for="page_14_05", ng-click="scrollTo('page_15')")
          img(src='img/14_05.png')
      .span4
        input.label-only#page_14_03(type='radio', ng-model='survey.14', value='3')
        label.survey-button(for="page_14_03", ng-click="scrollTo('page_15')")
          img(src='img/14_03.png')
        input.label-only#page_14_06(type='radio', ng-model='survey.14', value='6')
        label.survey-button(for="page_14_06", ng-click="scrollTo('page_15')")
          img(src='img/14_06.png')

    .header#page_15
    .row-fluid.page
      .span6
        input.label-only#page_15_01(type='radio', ng-model='survey.15', value='1')
        label.survey-button(for="page_15_01", ng-click="scrollTo('page_16')")
          img(src='img/15_01.png')
      .span6
        input.label-only#page_15_02(type='radio', ng-model='survey.15', value='2')
        label.survey-button(for="page_15_02", ng-click="scrollTo('page_16')")
          img(src='img/15_02.png')

    .header#page_16
    .row-fluid.page
      .span4
        input.label-only#page_16_01(type='radio', ng-model='survey.16', value='1')
        label.survey-button(for="page_16_01", ng-click="scrollTo('page_17')")
          img(src='img/16_01.png')
        input.label-only#page_16_04(type='radio', ng-model='survey.16', value='4')
        label.survey-button(for="page_16_04", ng-click="scrollTo('page_17')")
          img(src='img/16_04.png')
      .span4
        input.label-only#page_16_02(type='radio', ng-model='survey.16', value='2')
        label.survey-button(for="page_16_02", ng-click="scrollTo('page_17')")
          img(src='img/16_02.png')
        input.label-only#page_16_05(type='radio', ng-model='survey.16', value='5')
        label.survey-button(for="page_16_05", ng-click="scrollTo('page_17')")
          img(src='img/16_05.png')
      .span4
        input.label-only#page_16_03(type='radio', ng-model='survey.16', value='3')
        label.survey-button(for="page_16_03", ng-click="scrollTo('page_17')")
          img(src='img/16_03.png')
        input.label-only#page_16_06(type='radio', ng-model='survey.16', value='6')
        label.survey-button(for="page_16_06", ng-click="scrollTo('page_17')")
          img(src='img/16_06.png')

    .header#page_17
    .row-fluid.page
      .span6.offset2
        .survey-button
          img(src='img/17_01.png')
      .span2.offset1
        div(style="margin-top:150px")
        input.label-only#page_17_01(type='radio', ng-model='survey.17', value='1')
        label.survey-button.textlabel(for="page_17_01", ng-click="scrollTo('page_18')")
          img(src='img/17_02.png')
        input.label-only#page_17_02(type='radio', ng-model='survey.17', value='2')
        label.survey-button.textlabel(for="page_17_02", ng-click="scrollTo('page_18')")
          img(src='img/17_03.png')
        input.label-only#page_17_03(type='radio', ng-model='survey.17', value='3')
        label.survey-button.textlabel(for="page_17_03", ng-click="scrollTo('page_18')")
          img(src='img/17_04.png')
        input.label-only#page_17_04(type='radio', ng-model='survey.17', value='4')
        label.survey-button.textlabel(for="page_17_04", ng-click="scrollTo('page_18')")
          img(src='img/17_05.png')

    .header#page_18
    .row-fluid.page
      .span4
        input.label-only#page_18_01(type='radio', ng-model='survey.18', value='1')
        label.survey-button(for="page_18_01", ng-click="scrollTo('page_19')")
          img(src='img/18_01.png')
        input.label-only#page_18_04(type='radio', ng-model='survey.18', value='4')
        label.survey-button(for="page_18_04", ng-click="scrollTo('page_19')")
          img(src='img/18_04.png')
      .span4
        input.label-only#page_18_02(type='radio', ng-model='survey.18', value='2')
        label.survey-button(for="page_18_02", ng-click="scrollTo('page_19')")
          img(src='img/18_02.png')
        input.label-only#page_18_05(type='radio', ng-model='survey.18', value='5')
        label.survey-button(for="page_18_05", ng-click="scrollTo('page_19')")
          img(src='img/18_05.png')
      .span4
        input.label-only#page_18_03(type='radio', ng-model='survey.18', value='3')
        label.survey-button(for="page_18_03", ng-click="scrollTo('page_19')")
          img(src='img/18_03.png')
        input.label-only#page_18_06(type='radio', ng-model='survey.18', value='6')
        label.survey-button(for="page_18_06", ng-click="scrollTo('page_19')")
          img(src='img/18_06.png')

    .header#page_19
    .row-fluid.page
      .span4
        input.label-only#page_19_01(type='radio', ng-model='survey.19', value='1')
        label.survey-button(for="page_19_01", ng-click="scrollTo('page_20')")
          img(src='img/19_01.png')
        input.label-only#page_19_04(type='radio', ng-model='survey.19', value='4')
        label.survey-button(for="page_19_04", ng-click="scrollTo('page_20')")
          img(src='img/19_04.png')
      .span4
        input.label-only#page_19_02(type='radio', ng-model='survey.19', value='2')
        label.survey-button(for="page_19_02", ng-click="scrollTo('page_20')")
          img(src='img/19_02.png')
        input.label-only#page_19_05(type='radio', ng-model='survey.19', value='5')
        label.survey-button(for="page_19_05", ng-click="scrollTo('page_20')")
          img(src='img/19_05.png')
      .span4
        input.label-only#page_19_03(type='radio', ng-model='survey.19', value='3')
        label.survey-button(for="page_19_03", ng-click="scrollTo('page_20')")
          img(src='img/19_03.png')
        input.label-only#page_19_06(type='radio', ng-model='survey.19', value='6')
        label.survey-button(for="page_19_06", ng-click="scrollTo('page_20')")
          img(src='img/19_06.png')

    .header#page_20
    .row-fluid.page
      .span6.offset2
        .survey-button
          img(src='img/20_01.png')
      .span2.offset1
        div(style="margin-top:60px")
        input.label-only#page_20_01(type='radio', ng-model='survey.20', value='1')
        label.survey-button(for="page_20_01", ng-click="scrollTo('page_21')")
          img(src='img/up.png')
        input.label-only#page_20_02(type='radio', ng-model='survey.20', value='2')
        label.survey-button(for="page_20_02", ng-click="scrollTo('page_21')")
          img(src='img/down.png')

    .header#page_21
    .row-fluid.page
      .span4
        input.label-only#page_21_01(type='radio', ng-model='survey.21', value='1')
        label.survey-button(for="page_21_01", ng-click="scrollTo('page_22')")
          img(src='img/21_01.png')
        input.label-only#page_21_04(type='radio', ng-model='survey.21', value='4')
        label.survey-button(for="page_21_04", ng-click="scrollTo('page_22')")
          img(src='img/21_04.png')
      .span4
        input.label-only#page_21_02(type='radio', ng-model='survey.21', value='2')
        label.survey-button(for="page_21_02", ng-click="scrollTo('page_22')")
          img(src='img/21_02.png')
        input.label-only#page_21_05(type='radio', ng-model='survey.21', value='5')
        label.survey-button(for="page_21_05", ng-click="scrollTo('page_22')")
          img(src='img/21_05.png')
      .span4
        input.label-only#page_21_03(type='radio', ng-model='survey.21', value='3')
        label.survey-button(for="page_21_03", ng-click="scrollTo('page_22')")
          img(src='img/21_03.png')
        input.label-only#page_21_06(type='radio', ng-model='survey.21', value='6')
        label.survey-button(for="page_21_06", ng-click="scrollTo('page_22')")
          img(src='img/21_06.png')

    .header#page_22
    .row-fluid.page
      .span6.offset2
        .survey-button
          img(src='img/22_01.png')
      .span2.offset1
        div(style="margin-top:60px")
        input.label-only#page_22_01(type='radio', ng-model='survey.22', value='1')
        label.survey-button(for="page_22_01", ng-click="scrollTo('page_23')")
          img(src='img/up.png')
        input.label-only#page_22_02(type='radio', ng-model='survey.22', value='2')
        label.survey-button(for="page_22_02", ng-click="scrollTo('page_23')")
          img(src='img/down.png')

    .header#page_23
    .row-fluid.page
      .span4
        input.label-only#page_23_01(type='radio', ng-model='survey.23', value='1')
        label.survey-button(for="page_23_01", ng-click="scrollTo('page_24')")
          img(src='img/23_01.png')
        input.label-only#page_23_04(type='radio', ng-model='survey.23', value='4')
        label.survey-button(for="page_23_04", ng-click="scrollTo('page_24')")
          img(src='img/23_04.png')
      .span4
        input.label-only#page_23_02(type='radio', ng-model='survey.23', value='2')
        label.survey-button(for="page_23_02", ng-click="scrollTo('page_24')")
          img(src='img/23_02.png')
        input.label-only#page_23_05(type='radio', ng-model='survey.23', value='5')
        label.survey-button(for="page_23_05", ng-click="scrollTo('page_24')")
          img(src='img/23_05.png')
      .span4
        input.label-only#page_23_03(type='radio', ng-model='survey.23', value='3')
        label.survey-button(for="page_23_03", ng-click="scrollTo('page_24')")
          img(src='img/23_03.png')
        input.label-only#page_23_06(type='radio', ng-model='survey.23', value='6')
        label.survey-button(for="page_23_06", ng-click="scrollTo('page_24')")
          img(src='img/23_06.png')

    .header#page_24
    .row-fluid.page
      .span4
        input.label-only#page_24_01(type='radio', ng-model='survey.24', value='1')
        label.survey-button(for="page_24_01", ng-click="scrollTo('page_25')")
          img(src='img/24_01.png')
        input.label-only#page_24_04(type='radio', ng-model='survey.24', value='4')
        label.survey-button(for="page_24_04", ng-click="scrollTo('page_25')")
          img(src='img/24_04.png')
      .span4
        input.label-only#page_24_02(type='radio', ng-model='survey.24', value='2')
        label.survey-button(for="page_24_02", ng-click="scrollTo('page_25')")
          img(src='img/24_02.png')
        input.label-only#page_24_05(type='radio', ng-model='survey.24', value='5')
        label.survey-button(for="page_24_05", ng-click="scrollTo('page_25')")
          img(src='img/24_05.png')
      .span4
        input.label-only#page_24_03(type='radio', ng-model='survey.24', value='3')
        label.survey-button(for="page_24_03", ng-click="scrollTo('page_25')")
          img(src='img/24_03.png')
        input.label-only#page_24_06(type='radio', ng-model='survey.24', value='6')
        label.survey-button(for="page_24_06", ng-click="scrollTo('page_25')")
          img(src='img/24_06.png')

    .header#page_25
    .row-fluid.page
      .span6.offset2
        .survey-button
          img(src='img/25_01.png')
      .span2.offset1
        div(style="margin-top:60px")
        input.label-only#page_25_01(type='radio', ng-model='survey.25', value='1')
        label.survey-button(for="page_25_01", ng-click="scrollTo('page_done'); finish()")
          img(src='img/up.png')
        input.label-only#page_25_02(type='radio', ng-model='survey.25', value='2')
        label.survey-button(for="page_25_02", ng-click="scrollTo('page_done'); finish()")
          img(src='img/down.png')

    .header#page_done // results: {{survey}}
    .row-fluid.page
      .span6.offset3
        .big-button(ng-click="")
          .text thank you
          .text {{survey.name}}
          div(style="margin-bottom:.5em")
          .fineprint visit our profile cube
          .fineprint to view your results


block scripts
  script(src="js/intake.js")
