extends layout

block stylesheets
  link(rel='stylesheet', href='/css/intake.css')

block content
  form.form-inline(ng-controller="IntakeCtrl", ng-submit='submitSurvey()')

    .row-fluid.page
      .span6.offset3
        div.big-button(ng-click="scrollTo('page_thanks')")
          .title start

    .row-fluid.page#page_thanks
      .span6.offset3
        div.big-button(ng-click="scrollTo('page_name')")
          .text thank you
          .fineprint for agreeing to our terms of use

    .row-fluid.page#page_name
      .span6.offset3
        div.big-button
          .fineprint what is your name?
          input(type='text', ng-model='survey.textInput', placeholder='Enter a name here')
          input.btn(type='button', value='next question', ng-click="scrollTo('foo')")

    .spacer
    .spacer

    .row-fluid#foo
      .span4
        img(src='img/02_news_01.png')
      .span4
        img(src='img/02_news_02.png')
      .span4
        img(src='img/02_news_03.png')

    .row-fluid
      .span6
        img(src='img/04_catdog_01.png')
      .span6
        img(src='img/04_catdog_02.png')


block scripts
  script(src="js/intake.js")
