!!! 5
html(ng-app)
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // fullscreen on ipad
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
    block stylesheets

  body
    block content

    script(src='/js/vendor/jquery-1.9.0.min.js')
    script(src='/js/vendor/bootstrap.min.js')
    script(src='/js/vendor/underscore-1.4.4.min.js')
    script(src="js/vendor/angular-1.0.6.min.js")
    script(src='/socket.io/socket.io.js')
    script(src='/js/config.js')
    block scripts
